* {box-sizing:border-box}
 body { 
 background-color: #9dd1d4;
  /*dodano radi ostalih preglednika*/  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;} 
/*index*/
.i_index {
  text-align: center;}
.i-naslov {
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-size: 40px;
  font-weight: 500;}
.i-quiz {
   color: #b3045e;
   padding: 3px 2px;
   text-align: center;
   font-family: 'Roboto';
   text-decoration: none;
   font-size: 40px;
   border: 3px solid #fff;
   border-radius: 5%;
 }
 .i-quiz:hover {
  background-color: #bbb;
}
.i-button {
  text-align: center;}

/* global section */
.container {
	display: flex;}
/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;}  
/* Hide the images by default */
.mySlides {
  display: none;}
/* Next & previous buttons */
.prev, .next {
position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 10%;
  user-select: none;
  background-color: #bbb;
}
/* Position the "next button" to the right  border-radius: 3px 0 0 3px;*/
.next {
right: 0;}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: #717171;} 
/* Pitanja */
.numbertext {
  color: #9c1de2;
  font-weight: bold;
  font-size: 35px;
  padding: 30px 12px;
  position: absolute;
  top: 0;} 
.picked {
  -webkit-text-stroke: 1px #fff;
  color: #9c1de2;
  
  font-weight: bold;
  font-size: 38px;
  padding: 30px 12px;
  position: absolute;
  bottom: 10%;}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 10%;
  display: block;
  transition: background-color 0.6s ease;
  text-align: center;
}  
/*navigacijska traka*/
.butonz { 
margin: auto;
max-width: 100px;
}
.active, .dot:hover {
  background-color: #717171;
}
/*question-button*/
.butt {
  border: 3px solid #9c1de2;
  background-color: #9dd1d4;
  color: #9c1de2;
  padding: 12px 17px;
  border-radius: 15%;
  outline: none;
  font-weight: bold;
  font-size: 18px; } 
.butt:hover {
  background-color: #bbb;
}
/*button color change*/
.question-buttons{
	text-align: center;
	display: inline-table;
	position: absolute;
    top: 20%;
    width: auto;
    padding-top: 20px;}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}  
/* Responsive Media Queries 
@media (max-width:1190px){}
@media (max-width:1000px){}
*/ 
@media (max-width:900px){
.i-naslov {font-size=2rem;}
.prev, .next {
margin-top: 70px;

padding: 12px;	
}}
@media (max-width:750px){
.i-naslov {font-size=2rem;}
.prev, .next {
margin-top: 70px;
margin-left: 30px;
margin-right: 30px;
padding: 10px;	
}
.question-buttons {
}
.butt {
	padding: 12px 17px;
}
.slideshow-container {
	height: 100vh;
     width: 100vw;}	
.dot {
	display: inline-block;
	margin: auto;}
.numbertext {
  font-size: 25px;}
}  
@media (max-width:500px){
-i-naslov {font-size=2rem;}
.container {
display: block;
  margin-left: -6px; 
 }
 .prev, .next {
margin-top: 70px;
margin-left: 30px;
margin-right: 30px;
padding: 10px;}  
.numbertext {
	font-size: 25px;
} 
.question-buttons{
	margin-top: 120px;}
.slideshow-container {
  height: 100vh;
  width: 100vw;}	
.dot {
	display: inline-block;	 
   margin: auto;}
.butonz {
	display: inline;
	text-align: center;
}
.butt {
	padding: 10px 15px;
}	
}
@media (max-width:350px){
.i-naslov {font-size=2rem;}
.container {
display: block;
  margin-left: -6px;
 } 
.prev, .next {
margin-top: 70px;
margin-left: 30px;
margin-right: 30px;
padding: 10px;} 
 .numbertext {
font-size: 25px;	
} 
.question-buttons{
	margin-top: 120px;
}
.slideshow-container {
	height: 100vh;
     width: 100vw;}
.dot {
	display: inline-block;
	margin: auto;}
.butonz {
	display: inline;
	text-align: center;}
.butt {
	padding: 10px 15px;
}}  
  








   




  
  


 


 









  






	



	






	 
	


	
	

 	


	





	
 

		
	



	
   


